.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.img{
  width: 200px;
}
.img img{
  max-width:100%;
}
.price{
  display: inline-block;
  color:rgb(91, 185, 3);
}
.name{
  height: 70px;
}
.admin-manage{
  background-color: blue;
  height:100%
}
p{
  margin-bottom: 0px;
}
.list-item{
  display: inline-block;
  width:30px
}
.list-item-name{
  display: inline-block;
  width:390px
}

.list-item-price{
  display: inline-block;
  width:80px;
}
#add-product{
  display: none;
}
.btn-width {
  width: 268px;
  margin: 10px 34px;
}